#container .cr-banner {
  background: #fff; }

#container .cr-commands {
  padding-top: 10px;
  margin-bottom: 0px; }
  @media (max-width: 480px) {
    #container .cr-commands {
      margin-bottom: 10px; } }

#container canvas {
  border: 1px solid;
  padding-left: 0px;
  padding-right: 0px; }

#container .hide {
  display: none; }

#container .ms-ColorPicker-table {
  display: none; }
